<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MMdd.HHmmss.SSS} [%-20t] [%-5p] [%-20c] [L:%-3L] - %m%n</pattern>
		</encoder>
		<!-- 只输出level级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/storm-redis.log</File>
		<encoder>
			<pattern>%d{MMdd.HHmmss} [%-22t] %-5p L:%-3L %-22c{0} - %m%n</pattern>
		</encoder>
		<!-- 只输出level级别以上的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/storm-redis.log.%d{yyyy-MM-dd}.tar.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="org.restlet" level="info" addtivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="DEBUGE">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>