<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MMdd.HHmmss.SSS} [%-24t] %-5p L:%-3L %-22c{0} - %m%n</pattern>
		</encoder>

		<!-- 只输出level级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/logback.log</File>
		<encoder>
			<pattern>%d{MMdd.HHmmss} [%-22t] %-5p L:%-3L %-22c{0} - %m%n</pattern>
		</encoder>

		<!-- 只输出level级别以上的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/logback.log.%d{yyyyMMddHH}</fileNamePattern>
		</rollingPolicy>
	</appender>

	<logger name="org.logback.test.LogbackTest" level="DEBUGE" />

	<root level="DEBUGE">
		<appender-ref ref="FILE" />
		<appender-ref ref="stdout" />
	</root>
	
</configuration>